.box__header {
    display: flex;
    position: fixed;
    justify-content: center;
    background-color: $header-color;
    border: 3px solid #333333;
    width: 100%;
    z-index: 2;

    &__mainblock {
        display: flex;
        justify-content: flex-end;
        width: $page-elements-width;
        margin: .4rem;
        padding-right: 7.3rem;
    }
}
//  importing design for logo and nav-links
@import "./blocks/logo";
@import "./blocks/nav-links";
