*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(236, 236, 238);
}

// importing font, size, color variables
@import "./variables/fonts";
@import "./variables/sizes";
@import "./variables/colors";

//  importing design for header, main body and footer part
@import "./header";
@import "./main-part";
@import "./footer";